In [1]:
import pandas as pd

In [37]:
df = pd.read_csv("Binance_BTCUSDT_2022_minute.csv")

In [72]:
len(df)
# full year?

525600

In [110]:
df

,unix,date,symbol,open,high,low,close,volume,volume_from,tradecount
0,1672531140000,2022-12-31 23:59:00,BTCUSDT,16536.81,16544.47,16536.23,16542.40,69.99944,1.157778e+06,2536
1,1672531080000,2022-12-31 23:58:00,BTCUSDT,16537.78,16538.81,16536.42,16536.42,28.88239,4.776434e+05,1267
2,1672531020000,2022-12-31 23:57:00,BTCUSDT,16540.52,16540.79,16535.05,16537.78,53.35978,8.824495e+05,2088
3,1672530960000,2022-12-31 23:56:00,BTCUSDT,16538.65,16540.53,16538.38,16540.52,38.58840,6.382267e+05,1536
4,1672530900000,2022-12-31 23:55:00,BTCUSDT,16540.42,16540.92,16537.71,16539.28,36.23683,5.993276e+05,1551
...,...,...,...,...,...,...,...,...,...,...
525595,1640995440000,2022-01-01 00:04:00,BTCUSDT,46331.07,46336.10,46300.00,46321.34,20.96029,9.710099e+05,591
525596,1640995380000,2022-01-01 00:03:00,BTCUSDT,46368.73,46391.49,46314.26,46331.08,30.45894,1.412004e+06,953
525597,1640995320000,2022-01-01 00:02:00,BTCUSDT,46312.76,46381.69,46292.75,46368.73,51.29955,2.377414e+06,1238
525598,1640995260000,2022-01-01 00:01:00,BTCUSDT,46250.00,46344.23,46234.39,46312.76,42.38106,1.961908e+06,973
525599,1640995200000,2022-01-01 00:00:00,BTCUSDT,46216.93,46271.08,46208.37,46250.00,40.57574,1.875978e+06,796

In [79]:
df_month = df[(df["date"].str.contains("2022-01")) | (df["date"].str.contains("2022-02-01"))].reset_index(drop=True)
# one more day, because our sentiment is lagged

In [80]:
df_month["date"] = pd.to_datetime(df_month["date"])

In [81]:
df_month

,unix,date,symbol,open,high,low,close,volume,volume_from,tradecount
0,1643759940000,2022-02-01 23:59:00,BTCUSDT,38706.24,38715.65,38689.83,38694.59,17.25248,6.677487e+05,479
1,1643759880000,2022-02-01 23:58:00,BTCUSDT,38695.33,38710.92,38690.31,38706.24,5.94258,2.299723e+05,241
2,1643759820000,2022-02-01 23:57:00,BTCUSDT,38732.54,38732.54,38687.67,38695.33,13.42258,5.195049e+05,391
3,1643759760000,2022-02-01 23:56:00,BTCUSDT,38740.48,38741.42,38727.30,38731.38,3.89709,1.509424e+05,220
4,1643759700000,2022-02-01 23:55:00,BTCUSDT,38751.12,38757.00,38737.71,38740.48,3.89422,1.508863e+05,249
...,...,...,...,...,...,...,...,...,...,...
46075,1640995440000,2022-01-01 00:04:00,BTCUSDT,46331.07,46336.10,46300.00,46321.34,20.96029,9.710099e+05,591
46076,1640995380000,2022-01-01 00:03:00,BTCUSDT,46368.73,46391.49,46314.26,46331.08,30.45894,1.412004e+06,953
46077,1640995320000,2022-01-01 00:02:00,BTCUSDT,46312.76,46381.69,46292.75,46368.73,51.29955,2.377414e+06,1238
46078,1640995260000,2022-01-01 00:01:00,BTCUSDT,46250.00,46344.23,46234.39,46312.76,42.38106,1.961908e+06,973
46079,1640995200000,2022-01-01 00:00:00,BTCUSDT,46216.93,46271.08,46208.37,46250.00,40.57574,1.875978e+06,796

In [82]:

df_month.set_index('date', inplace=True)
# 15 minutes
df_15m = df_month.resample('15min').agg({'open': 'first', 'close': 'last'}).reset_index()
df_15m['Return'] = (df_15m['close'] - df_15m['open']) / df_15m['open']

# 30 minutes
df_30m = df_month.resample('30min').agg({'open': 'first', 'close': 'last'}).reset_index()
df_30m['Return'] = (df_30m['close'] - df_30m['open']) / df_30m['open']

df_month = df_month.reset_index()

In [109]:
df_month.iloc[-15]

date           2022-01-01 00:14:00
unix                 1640996040000
symbol                     BTCUSDT
open                       46329.0
high                       46353.5
low                        46320.3
close                     46332.51
volume                    13.09874
volume_from          606924.724119
tradecount                     504
Name: 46065, dtype: object

In [84]:
def sign(x):
    return 1 if x>=0 else 0

In [107]:
df_15m

                    date      open     close    Return  Return_sign
0    2022-01-01 00:00:00  46216.93  46332.51  0.002501            1
1    2022-01-01 00:15:00  46332.52  46375.42  0.000926            1
2    2022-01-01 00:30:00  46375.42  46610.81  0.005076            1
3    2022-01-01 00:45:00  46610.81  46656.13  0.000972            1
4    2022-01-01 01:00:00  46656.14  46766.99  0.002376            1
...                  ...       ...       ...       ...          ...
3067 2022-02-01 22:45:00  38637.13  38697.55  0.001564            1
3068 2022-02-01 23:00:00  38697.56  38621.14 -0.001975            0
3069 2022-02-01 23:15:00  38621.13  38780.05  0.004115            1
3070 2022-02-01 23:30:00  38780.06  38759.13 -0.000540            0
3071 2022-02-01 23:45:00  38759.12  38694.59 -0.001665            0

[3072 rows x 5 columns]

In [86]:
df_15m["Return_sign"] = df_15m["Return"].apply(sign)

In [87]:
df_15m

                    date      open     close    Return  Return_sign
0    2022-01-01 00:00:00  46216.93  46332.51  0.002501            1
1    2022-01-01 00:15:00  46332.52  46375.42  0.000926            1
2    2022-01-01 00:30:00  46375.42  46610.81  0.005076            1
3    2022-01-01 00:45:00  46610.81  46656.13  0.000972            1
4    2022-01-01 01:00:00  46656.14  46766.99  0.002376            1
...                  ...       ...       ...       ...          ...
3067 2022-02-01 22:45:00  38637.13  38697.55  0.001564            1
3068 2022-02-01 23:00:00  38697.56  38621.14 -0.001975            0
3069 2022-02-01 23:15:00  38621.13  38780.05  0.004115            1
3070 2022-02-01 23:30:00  38780.06  38759.13 -0.000540            0
3071 2022-02-01 23:45:00  38759.12  38694.59 -0.001665            0

[3072 rows x 5 columns]

In [88]:
df_15m.to_csv("BTCUSDT_15m.csv",index=False)

In [89]:
df_30m["Return_sign"] = df_30m["Return"].apply(sign)

In [90]:
df_30m

                    date      open     close    Return  Return_sign
0    2022-01-01 00:00:00  46216.93  46375.42  0.003429            1
1    2022-01-01 00:30:00  46375.42  46656.13  0.006053            1
2    2022-01-01 01:00:00  46656.14  46815.33  0.003412            1
3    2022-01-01 01:30:00  46815.34  46778.14 -0.000795            0
4    2022-01-01 02:00:00  46778.14  46826.01  0.001023            1
...                  ...       ...       ...       ...          ...
1531 2022-02-01 21:30:00  38767.56  38785.53  0.000464            1
1532 2022-02-01 22:00:00  38785.52  38731.00 -0.001406            0
1533 2022-02-01 22:30:00  38731.01  38697.55 -0.000864            0
1534 2022-02-01 23:00:00  38697.56  38780.05  0.002132            1
1535 2022-02-01 23:30:00  38780.06  38694.59 -0.002204            0

[1536 rows x 5 columns]

In [91]:
df_30m.to_csv("BTCUSDT_30m.csv",index=False)

In [92]:
df_1H = pd.read_csv("Binance_BTCUSDT_1h.csv")

In [93]:
df_1H

,Unix,Date,Symbol,Open,High,Low,Close,Volume BTC,Volume USDT,tradecount
0,1730156400000,2024-10-28 23:00:00,BTCUSDT,69961.64,70145.50,69733.30,69962.21,928.304390,6.492362e+07,145948
1,1730152800000,2024-10-28 22:00:00,BTCUSDT,69791.00,70270.00,69791.00,69961.65,3417.361800,2.391833e+08,313475
2,1730149200000,2024-10-28 21:00:00,BTCUSDT,69644.57,69797.99,69518.35,69791.00,637.094310,4.439927e+07,82357
3,1730145600000,2024-10-28 20:00:00,BTCUSDT,69629.99,69719.59,69427.79,69644.56,838.752480,5.832339e+07,115659
4,1730142000000,2024-10-28 19:00:00,BTCUSDT,69212.12,69900.00,69150.01,69629.98,4352.023460,3.029711e+08,366750
...,...,...,...,...,...,...,...,...,...,...
62982,1502956800000,2017-08-17 08:00:00,BTCUSDT,4333.32,4377.85,4333.32,4360.69,0.972807,4.239504e+03,28
62983,1502953200000,2017-08-17 07:00:00,BTCUSDT,4316.62,4349.99,4287.41,4349.99,4.443249,1.924106e+04,25
62984,1502949600000,2017-08-17 06:00:00,BTCUSDT,4330.29,4345.45,4309.37,4324.35,7.229691,3.128231e+04,36
62985,1502946000000,2017-08-17 05:00:00,BTCUSDT,4308.83,4328.69,4291.37,4315.32,23.234916,1.003048e+05,102
62986,1502942400000,2017-08-17 04:00:00,BTCUSDT,4261.48,4313.62,4261.32,4308.83,47.181009,2.023661e+05,171

In [100]:
df_1H_month = df_1H[(df_1H["Date"].str.contains("2022-01")) | (df_1H["Date"].str.contains("2022-02-01"))].reset_index(drop=True)
df_1H_month["Date"] = pd.to_datetime(df_1H_month["Date"])

In [101]:
df_1H_month

,Unix,Date,Symbol,Open,High,Low,Close,Volume BTC,Volume USDT,tradecount
0,1643756400000,2022-02-01 23:00:00,BTCUSDT,38697.56,38889.00,38602.30,38694.59,605.62059,2.347162e+07,20819
1,1643752800000,2022-02-01 22:00:00,BTCUSDT,38785.52,38853.23,38532.45,38697.55,629.43065,2.436786e+07,25636
2,1643749200000,2022-02-01 21:00:00,BTCUSDT,38512.86,38819.00,38490.00,38785.53,907.43829,3.513616e+07,26998
3,1643745600000,2022-02-01 20:00:00,BTCUSDT,38378.10,38735.63,38369.00,38512.08,1134.06888,4.372646e+07,31298
4,1643742000000,2022-02-01 19:00:00,BTCUSDT,38533.14,38595.60,38341.06,38378.09,1211.90981,4.659785e+07,35058
...,...,...,...,...,...,...,...,...,...,...
763,1641009600000,2022-01-01 04:00:00,BTCUSDT,46813.21,46887.33,46591.23,46711.05,861.88389,4.027204e+07,23357
764,1641006000000,2022-01-01 03:00:00,BTCUSDT,46811.77,46916.63,46760.12,46813.20,562.88971,2.636326e+07,19882
765,1641002400000,2022-01-01 02:00:00,BTCUSDT,46778.14,46928.94,46721.96,46811.77,485.16860,2.272067e+07,24364
766,1640998800000,2022-01-01 01:00:00,BTCUSDT,46656.14,46949.99,46574.06,46778.14,943.81539,4.412715e+07,31872
767,1640995200000,2022-01-01 00:00:00,BTCUSDT,46216.93,46731.39,46208.37,46656.13,1503.33095,6.987999e+07,38608

In [102]:
df_1H_month['Return'] = (df_1H_month['Close'] - df_1H_month['Open']) / df_1H_month['Open']

In [103]:
df_1H_month['Return_sign'] = df_1H_month['Return'].apply(sign)

In [104]:
df_1H_month = df_1H_month.sort_values(by="Date").reset_index(drop=True)

In [105]:
df_1H_month

,Unix,Date,Symbol,Open,High,Low,Close,Volume BTC,Volume USDT,tradecount,Return,Return_sign
0,1640995200000,2022-01-01 00:00:00,BTCUSDT,46216.93,46731.39,46208.37,46656.13,1503.33095,6.987999e+07,38608,0.009503,1
1,1640998800000,2022-01-01 01:00:00,BTCUSDT,46656.14,46949.99,46574.06,46778.14,943.81539,4.412715e+07,31872,0.002615,1
2,1641002400000,2022-01-01 02:00:00,BTCUSDT,46778.14,46928.94,46721.96,46811.77,485.16860,2.272067e+07,24364,0.000719,1
3,1641006000000,2022-01-01 03:00:00,BTCUSDT,46811.77,46916.63,46760.12,46813.20,562.88971,2.636326e+07,19882,0.000031,1
4,1641009600000,2022-01-01 04:00:00,BTCUSDT,46813.21,46887.33,46591.23,46711.05,861.88389,4.027204e+07,23357,-0.002182,0
...,...,...,...,...,...,...,...,...,...,...,...,...
763,1643742000000,2022-02-01 19:00:00,BTCUSDT,38533.14,38595.60,38341.06,38378.09,1211.90981,4.659785e+07,35058,-0.004024,0
764,1643745600000,2022-02-01 20:00:00,BTCUSDT,38378.10,38735.63,38369.00,38512.08,1134.06888,4.372646e+07,31298,0.003491,1
765,1643749200000,2022-02-01 21:00:00,BTCUSDT,38512.86,38819.00,38490.00,38785.53,907.43829,3.513616e+07,26998,0.007080,1
766,1643752800000,2022-02-01 22:00:00,BTCUSDT,38785.52,38853.23,38532.45,38697.55,629.43065,2.436786e+07,25636,-0.002268,0
767,1643756400000,2022-02-01 23:00:00,BTCUSDT,38697.56,38889.00,38602.30,38694.59,605.62059,2.347162e+07,20819,-0.000077,0

In [106]:
df_1H_month.to_csv("BTCUSDT_1H.csv", index = False)